
<%- include('partials/navbar-login'); %> 
    <!--content start-->
<main class="content">
<div class="container p-0">
<h2 class="h3 mb-3">Welcome, <%=user.username%></h2>
  <div>
    <a href="/project/new" class="btn btn-outline-dark btn-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
        </svg>
       New Project
    </a>
    <br>
    <br>
  </div>
    
        <div class="row">
            <!--start per board-->
            <% for (let i = 0; i< projects.length; i++){%>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card card-border-primary">
                    
                    <div class="card-body p-3">
                        <!--start per task / mau loop-->
                        <div class="card mb-3 bg-light">
                            <div class="card-body p-3">
                                <div class="float-end mr-n2">
                                    <!--action button disini-->
                                    <a href="/project/delete/<%=projects[i].id%>" class="btn btn-outline-danger btn-sm"> 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                          </svg>
                                    </a>
                                </div>
                                <p>
                                    <!--taskname--><%=projects[i].name%>
                                </p>

                                <a href="/project/editname/<%=projects[i].id%>" class="btn btn-outline-primary btn-sm">Edit Name</a>
                                <a href="/project/addcollaborator/<%=projects[i].id%>" class="btn btn-outline-primary btn-sm">Add Collaborator</a>
                                <!-- end of per task-->
                            </div>
                        </div>
                        <a href="/project/<%=projects[i].id%>" class="btn btn-primary btn-block">
                            View Project Page
                        </a>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>
</div>
</main>

<%- include('partials/footer'); %>
